<!doctype html>

<html>

<head>

</head>


<body>




<h3>User: {{user}}</h3>
{% if not session.logged_in %}
<p><a href='/login'>Login</a></p>
{% else %}
<p><a href='/logout'>Logout</a></p>
{% endif %}
<hr>

<!--hide posting UI if not logged in-->
{% if session.logged_in %}
<!--Posting UI-->
<form action="{{url_for('posting',user=user)}}" method='post'>
<dl>
<input type='hidden' name='username' size='30' value={{user}} />
<dt>Title
<dd><input type='text' name='title' id='title' size='30'/> 
<dt>Posting
<dd><textarea name='posting' id='posting' rows='10' cols='50'></textarea>
<dt>Time
<dd><input type='text' name='time'/ size='30'>
<dd><input type='submit' value='share'/>
</dl>

</form>
{% endif %}

<hr>


<!--Show all postings under the user-->
<dl>
{% for item in dblist %}
<dt><Strong>{{item.title}}</Strong>
<dd>{{item.id}}----{{item.posting}} ---- {{item.time}}
{% endfor %}
</dl>




</body>

</html>
